<clr-main-container>
  <div class="progress demo" *ngIf="loading">
    <div class="progress loop"><progress></progress></div>
  </div>
  <clr-header class="header-4">
    <div class="branding">
      <a class="nav-link">
        <div class="title">Hackathon-Wonders-2019</div>
      </a>
    </div>
    <div class="header-actions">
      <button class="btn btn-primary" *ngIf="isDataAvailable"
        (click)="submitTweet=false;fetchTweet=false;tweet=null;">Data Information</button>
      <button class="btn btn-primary" *ngIf="isDataAvailable"
        (click)="submitTweet=false;fetchTweet=true;tweet=null;">Fetch Tweets</button>
      <!-- <button class="btn btn-primary" *ngIf="isDataAvailable"
        (click)="submitTweet=true;fetchTweet=false;tweet=null;">Submit Tweet</button> -->
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">



      <div class="clr-row clr-col-12" *ngIf="submitTweet">
        <div class="clr-col-12">
          <div class="card">
            <div class="card-header">
              Submit Tweet
            </div>
            <div class="card-block">
              <div class="card-text">
                <textarea class="clr-col-12" [(ngModel)]="tweet" #ctrl="ngModel" required></textarea>
              </div>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-sm" [disabled]="!tweet" (click)="addTweet(tweet)">Submit Tweet</button>
            </div>
          </div>
        </div>
      </div>

      <div class="clr-row clr-col-12" *ngIf="fetchTweet">
        <div class=" clr-col-12">
          <div class="card">
            <div class="card-header">
              Tweets
            </div>
            <div class="card-block">
              <div class="card-text">
                <table class="table" *ngIf="tweetData">
                  <thead>
                    <tr>
                      <th>Tweets</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let body of tweetData">
                      <td>{{body.tweetText}}</td>
                      <td> <button class="btn btn-sm" (click)="setValue(body.tweetText);selectedText=body.tweetText">Get
                          Sentiment</button></td>
                    </tr>
                  </tbody>
                </table>
                <div class="card-block text-center" *ngIf="tweetData.length == 0">
                  <p>No Data Found</p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="clr-row clr-col-12" *ngIf="!fetchTweet && !submitTweet">
        <div class=" clr-col-12">
          <div class="card">
            <div class="card-header">
              Data Information
            </div>

            <div class="card-block text-center" *ngIf="isDataAvailable && gridData.length > 0" style="height: 400px;overflow-y: auto">
              <table class="table" *ngIf="gridData">
                <thead>
                  <tr>
                    <th>Emotions</th>
                    <th>Tweets</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let body of gridData">
                    <td>
                     <img src="../assets//images/Positive.png" alt="Positive" *ngIf="body.sentiment==='1'" style="height: 40px;width: 40px" />
                    <img src="../assets//images/Negetive.png" alt="Negtive" *ngIf="body.sentiment==='0'" style="height: 40px;width: 40px" />
                    <!-- <img src="../assets//images/Neutral.png" alt="Nuetral" *ngIf="body.sentiment==='1'" style="height: 40px;width: 40px" /> -->
                   </td>
                    <td>{{body.tweet}}</td>
                  </tr>

                </tbody>
              </table>
            </div>
            <div class="card-block text-center" *ngIf="isDataAvailable && gridData.length > 0">
              <img src="{{chart1}}" class="clr-col-6"/>
              <img src="{{chart3}}" class="clr-col-6"/>
              <img src="{{chart2}}" class="clr-col-12"/>

            </div>
            <div class="card-block text-center" *ngIf="!isDataAvailable">
              <p>No Data Found</p>
            </div>
            <div class="card-footer text-center">
              <button class="btn btn-sm" (click)="trainModel()" *ngIf="isDataAvailable">Train Model</button>
              <button class="btn btn-sm" (click)="visualize()" *ngIf="isDataAvailable">Visualize Data</button>
              <button class="btn btn-sm" *ngIf="!isDataAvailable" (click)="submitTweet=false;fetchTweet=false;tweet=null;opened1=true;">Upload
                New Data</button>
            </div>

          </div>
        </div>
      </div>

    </main>
  </div>
</clr-main-container>

<clr-modal [(clrModalOpen)]="opened" [clrModalClosable]="true" >
  <h3 class="modal-title text-center" style="overflow: auto;max-height: 500px;">{{selectedText}}</h3>
  <div class="modal-body text-center">
    <img src="../assets//images/Positive.png" alt="Positive" *ngIf="result===1" style="height: 200px;width: 200px" />
    <img src="../assets//images/Negetive.png" alt="Negtive" *ngIf="result===0" style="height: 200px;width: 200px" />
    <!-- <img src="../assets//images/Neutral.png" alt="Nuetral" *ngIf="result===3" style="height: 200px;width: 200px" /> -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="opened = false">
      Close
    </button>
  </div>
</clr-modal>

<clr-modal [(clrModalOpen)]="opened1" [clrModalClosable]="true">
  <h3 class="modal-title text-center">Upload File</h3>
  <div class="modal-body text-center">
    <input type="file" name="title" id="title" accept="text/csv" (change)="uploadFile($event.target.files)" class="clr-form-control"
      [(ngModel)]="csvModel" />
  </div>
  <div class="modal-footer">
    <button type="button" [disabled]="!csvFile" class="btn btn-primary" (click)="uploadFileOnServer()">
      UPload
    </button>
  </div>
</clr-modal>

<ng-snotify></ng-snotify>